/* ******************Tag Elements********************** */

body{
  background-color: #EFF1F1;
}

hr{
  background-color: white;
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

/* Pseudo class */
h1:hover{
  color: #66BFBF;
}

h3{
  color: #66BFBF;
}

/* ******************Class Elements********************** */
.myImage{
  background-color: #66BFBF;
}
